.body{
  display: grid;
  place-items: center;
  width: 100%;
  background-color:#F0F0F0;
  margin-top: 150px;
}  
.roomBox{
  width: 500px;
  height: 700px;
  box-shadow: 0 2px 10px gray ;
  margin : 10px 0 20px 0 ;
}
.imgBox{
  width: 500px;
  height: 400px;
}
.dormBox{
  height: 35px;
  border-bottom: 1px solid gray;
  font-size: 28px;
  font-weight: 550;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 20px;
}
.detailBox{
  text-align: left;
  display: flex;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 10px;
}
.buttommatch {
  display: flex;
  font-size: 20px;
  transform: translate(200px,100px);
  width: 90px;
  box-shadow: 0 2px 10px gray ;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 10px;
  text-decoration: none;
  color: black;
}