.body{
    display: grid;
    place-items: center;
    width: 100%;
    background-color:#E8E8E8;
  }
  
.container{
    display: grid;
    width: 93%;
    place-items: center;
    background-color: white;
    margin-top: 140px;
  }
.container a{
    text-decoration: none;
  }

.form_box{
    margin-top: 100px;
    display: grid;
    place-items: center;
    grid-template-columns:  50% 50% ;
    width: 1000px;
    box-shadow:  0 2px 10px gray;
    height: 400px;
}
.titleform{
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;
}
.send_btn{
    border: none;
    border-radius: 0.3rem;
    height: 45px;
    width: 150px;
    color: white;
    font-size:20px;
    background-color: #282828;
    margin-top: 0px;
}
.textbox {
    display: grid;
    place-items: center;
    margin-bottom: 10px;
    width: 500px;
    height: 400px;
    background-color: black;
    color: white;
    
}
.inputbox {
    display: grid;
    place-items: center;
    width: 430px;
    height: 400px;
}
.textboxone {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-bottom: 10px;
    margin-left: 30px;
}